aiohttp
discord.py
python-dotenv
psycopg2-binary
Flask
Flask-Cors
gunicorn
openai
tiktoken
google-cloud-storage
beautifulsoup4
requests
fastapi
uvicorn
python-multipart
tenacity
cachetools
pillow
lxml
PyNaCl
discord-webhook
openrouter
google-cloud-vertexai==1.53.0
protobuf==3.20.3
proto-plus==1.23.0
aiosqlite
